td {
    max-width: 100px;
}

.pointer {
    cursor: pointer;
}

.margin {
    margin-left: 10px;
}

.caret {
    margin-top: 23px;
}

.full-width {
    width: 100%;
    padding: 0;
}

.drop-down {
    width: 100%;
    padding: 0;
    background: white;
    border: 1px solid black;
}

.edit-input {
    text-align: left;
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid black;
}

.td-icon {
    width: 40px;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}