<h1>
    <table editable-table api="Material">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.count}}</td>
            </tr>
            <tr>
                <td><text-input ng-model="data.name"></text-input></td>
                <td><number-input ng-model="data.count"></number-input></td>
            </tr>
        </tbody>
    </table>
</h1>