<h1>
    <table editable-table api="Product" ng-controller="DetailDropdown">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.detail | multiSelectValues}}</td>
            </tr>
            <tr>
                <td><text-input ng-model="data.name"></text-input></td>
                <td><dropdown-multiselect ng-model="data.detail" ng-dropdown="dropdownData"></dropdown-multiselect></td>
            </tr>
        </tbody>
    </table>
</h1>